<!-- Template pour la barre de navigation -->
		    <script src="assets/js/main.js"></script>
        <!--Navigation bar-->
        <header id="header" class="alt">
            <div class="logo"><a href="/index.html">  <img src="/images/logo_blanc.png" alt="Logo Électron Libre"   style="width:200px;height:100px"> <span>L'Électron Libre</span></a></div>
            <a href="#menu"> Menu </a>
        </header>


    <!-- Nav -->
        <nav id="menu">
          <ul class="links">
            <li><a href="/index.html">Accueil</a></li>
            <li><a href="/presentation.html">Présentation</a></li>
            <li><a href="/temoignage.html">Témoignages</a></li>
            <li><a href="/litterature.html">Littérature</a></li>
            <li><a href="/ressources.html">Ressources</a></li>
            <li><a href="/vulgarisation.html">Vulgarisation</a></li>
            <li><a href="/evenements.html">Événements</a></li>
            <li><a href="/archive.html">Archives</a></li>
            <li><a href="/joindre.html">Nous joindre</a></li>
          </ul>
        </nav>
    <!--end of Navigation bar-->
