/*
Template pour textes
*/

/* Paragraphe pour texte normal*/
p.main {
  /*text-indent:50px;*/
  text-align: justify;
  color:black;
  font-size:18px
}

/* Paragraphe pour POEME */
p.poem {
  text-align: center;
  font-size:18px;
  color:black;
}

/*Paragraphe pour un titre */
p.titre {

  text-align: center;
  color:black;
  font-size:25px;
}

/*Paragraphe pour un texte de littérature avec indentation */
p.litt-indent{
  text-indent:50px;
  text-align: justify;
  color:black;
  font-size:18px

}

p.sous-titre{
  text-align: justify;
  color:#000000;
  font-size: 20px;
}

div
.column {
  float: left;
  width: 33.33%;
  border: 2px solid #000000;

}
.box-title {
    background: black none repeat scroll 0 0;
    display: inline-block;
	color:#FFFFFF;
    margin-left: 5em;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.frame {
padding: 15px 10px;
width: 300px;
height: 250px;
border: 3px solid #ccc;
background: #000000 ;
margin: auto;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 70px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
figure {
  display: table;
}

figcaption.table {
  display:table-caption;
  caption-side:bottom;
}

figure.left {
  float: left;
  text-align: center;
  font-size: smaller;
  text-indent: 0;
  margin: 0 15px 0 0;
}

figure.right {
  float: right;
  text-align: center;
  font-size: smaller;
  text-indent: 0;
  margin: 0 0 0 15px;
}

figure.center {
  float: none; text-align:center;
}
