/*
Template pour textes
*/

/* Paragraphe pour texte normal*/
p.main {
  /*text-indent:50px;*/
  text-align: justify;
  color:black;
  font-size:18px
}

/* Paragraphe pour POEME */
p.poem {
  text-align: center;
  font-size:18px;
  color:black;
}

/*Paragraphe pour un titre */
p.titre {

  text-align: center;
  color:black;
  font-size:25px;
}

/*Paragraphe pour un texte de littérature avec indentation */
p.litt-indent{
  text-indent:50px;
  text-align: justify;
  color:black;
  font-size:18px
}

div
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
